*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;/* for all elemnts font are same */
    font-weight: normal;
  } 
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);/* for mixed color background uses linear-gradient*/
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);/* now  buttons are straight so we arrange in rows and columns for our calculatior */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);/* minmax for input in calculator 120px length of number minimum maximum auto */
  }
  
  .calculator-grid > button {/* for buttons */ 
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {/* for button hover  */
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two { /* for Ac and  = are big button width compare to other buttons thats span 2 width*/
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;/* for this all colums set 5 rows but now output will me in 1 st colums but aleready 1 st colum there thats why  1 /-1 before 1st column is created */
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;/* for long numbers word wraping and also word can be break */
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;/* font size different for current and prious bcz current element will be big */
  }